.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.progress-done {
	background: linear-gradient(to left, #70f270, #72ffb1);
	box-shadow: 0 3px 3px -5px #70f277, 0 2px 5px #70f29b;
	border-radius: 20px;
	color: green;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.pc:hover{
	background: green;
	transition: all linear 300ms;
	-webkit-transition: all linear 300ms;
	-moz-transition: all linear 300ms;
	-ms-transition: all linear 300ms;
	-o-transition: all linear 300ms;
}
.pc:hover .tec
{
	color: white;
	transition: all linear 300ms;
	-webkit-transition: all linear 300ms;
	-moz-transition: all linear 300ms;
	-ms-transition: all linear 300ms;
	-o-transition: all linear 300ms;
}
.pc:hover .icon
{
	color: white;
	transition: all linear 300ms;
	-webkit-transition: all linear 300ms;
	-moz-transition: all linear 300ms;
	-ms-transition: all linear 300ms;
	-o-transition: all linear 300ms;
}


.btn-primary:hover, .btn-primary.btn-active {
    --tw-border-opacity: 1;
    border-color: hsl(var(--pf, var(--p)) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: transparent;
	color: #000;
}

.dropdown .dropdown-content {
    visibility: hidden;
    position: absolute;
    background: green;
	color: aliceblue;
    z-index: 50;
    opacity: 0;
    transform-origin: top;
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}