.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.progress-done {
	background: linear-gradient(to left, #70f270, #72ffb1);
	box-shadow: 0 3px 3px -5px #70f277, 0 2px 5px #70f29b;
	border-radius: 20px;
	color: green;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}